.task__wrapper {
  color: $white;
  overflow: hidden;
}

.task__inner {
  margin: 0 auto;
  padding: 0 2rem;
  max-width: 80rem;

  @include m-mqMax {
    max-width: 490px;
    padding: 0 15px;
  }
}

.task__header {
  padding: 3.5rem 2rem;

  @include m-mqMax {
    padding: 20px 0;
  }
}

.nav {
  @include m-flex($fd: row, $ai: center, $jc: space-between);
}

.nav__item {
  &.item--box {
    line-height: 1.2;
    padding: .7rem 1.8rem;
    border:  .5rem solid $white;

    @include m-mqMax {
      padding: 5px 15px;
      border:  3px solid $white;
    }
  }
}

.nav__text {
  font-size: 2.2rem;
  letter-spacing: .2em;

  @include m-mqMax {
    font-size: 12px;
    letter-spacing: .1em;
  }
}

.task__body {
  margin-top: 11.5rem;

  @include m-mqMax {
    margin-top: 70px;
  }
}

.collection {
  width: 100%;
  margin: 0 auto;
  max-width: 50rem;
  padding-bottom: 12.5rem;

  @include m-mqMax {
    max-width: 450px;
    padding: 0 30px 70px;
  }
}

.collection__item {
  position: relative;

  &:not(:last-child) {
    margin-bottom: 10rem;

    @include m-mqMax {
      margin-bottom: 60px;
    }
  }
}

.collection__header {
  border-radius: 1.8rem;
  background: $white;
  display: inline-block;
  position: absolute;
  top: -2.45rem;
  left: -2rem;

  @include m-mqMax {
    border-radius: 14px;
    top: -15px;
    left: -10px;
  }
}

.collection__title,
.collection__title span {
  color: $black;
  font-weight: bold;
  font-size: 2.2rem;
  padding: .8rem 1.8rem;
  line-height: 1.6;
  letter-spacing: .25em;

  @include m-mqMax {
    font-size: 12px;
    padding: 5px 15px;
    letter-spacing: .1em;
  }
}

.collection__title span {
  padding: 0;
  color: $pink;
}

.collection__body {
  min-height: 10rem;
  padding: 4rem 3rem;
  border-radius: 1.8rem;
  border:  .5rem solid $white;

  @include m-mqMax {
    border-radius: 14px;
    border:  3px solid $white;
    padding: 25px 15px;
    min-height: 35px;
  }
}

.collection__label {
  font-size: 2.3rem;
  line-height: 1.8;
  text-align: center;

  @include m-mqMax {
    font-size: 13px;
  }

  span {
    color: $pink;
  }

  &.label--lg {
    font-size: 3rem;

    @include m-mqMax {
      font-size: 18px;
    }
  }
}

.collection__char {
  position: absolute;
  width: 13.4rem;

  @include m-mqMax {
    width: 80px;
  }

  &.pos--botLeft {
    left: -5rem;
    bottom: -5rem;

    @include m-mqMax {
      left: -10px;
      bottom: -10px;
    }
  }

  &.pos--topRight {
    right: -5rem;
    top: -5rem;
    left: auto;

    @include m-mqMax {
      right: -10px;
      top: -10px;
    }
  }

  &.pos--botLeft {
    left: -5rem;
    bottom: -5rem;

    @include m-mqMax {
      left: -10px;
      bottom: -10px;
    }
  }

  &.char--soldier {
    left: -7rem;
    bottom: -8rem;

    @include m-mqMax {
      width: 5.5rem;
      left: -40px;
      bottom: -35px;
    }
  }

  &.char--prince {
    width: 14.8rem;
    right: -9.5rem;
    top: -7rem;

    @include m-mqMax {
      width: 90px;
      right: -50px;
      top: -40px;
    }
  }

  &.char--treasureBlack {
    width: 17.2rem;
    transform: scaleX(-1);

    @include m-mqMax {
      width: 100px;
      left: -25px;
    }
  }

  &.char--ghostWhite {
    left: -6.8rem;
    bottom: -3rem;
    width: 13.6rem;
    transform: scaleX(-1) rotate(7deg);

    @include m-mqMax {
      width: 80px;
      left: -40px;
      bottom: -20px;
    }
  }

  &.char--dragon {
    width: 26rem;
    right: -13rem;
    top: -13.8rem;

    @include m-mqMax {
      width: 150px;
      right: -70px;
      top: -80px;
    }
  }

  &.char--treasure {
    width: 17.5rem;
    right: -8.5rem;
    bottom: -4.5rem;

    @include m-mqMax {
      width: 100px;
      right: -50px;
      bottom: -30px;
    }
  }
}

.collection__data {
  margin-top: 2.8rem;
  background: $pink;
  border-radius: 2rem;
  padding: 1.5rem;
  border: .3rem solid $white;

  @include m-mqMax {
    border-radius: 12px;
    padding: 10px;
    border: 2px solid $white;
    margin-top: 20px;
  }
}

.collection__text {
  color: $black;
  font-size: 3rem;
  line-height: 1.2;
  text-align: center;

  @include m-mqMax {
    font-size: 18px;
  }
}