/* =======================
 * Functions CLASS
 * ======================= */
@function get-vw-desktop($font) {
	$vw-context: $desktop-vw-viewport * 0.01 * 1px;
	$vw-val: calc(($font / $vw-context) * 1vw);
	@return $vw-val;
}

@function get-vw-mobile($font) {
	$vw-context: $mobile-vw-viewport * 0.01 * 1px;
	$vw-val: calc(($font / $vw-context) * 1vw);
	@return $vw-val;
}
