/* =======================
VARIABLES
* ======================= */

/* colors */
$white: #fff;
$black: #000;
$color--black2: #262626;
$black3: #282828;
$gray: #d2d0d2;
$gray2: #EAEAEA;
$lightGray: #AAAAAA;
$lightGray2 :#F2F2F2;
$darkGray: #212121;

$lightRed: #FFF2F2;
$red: #E83131;
$red2: #cc0000;
$pink: #ff5684;
$yellow: #fffb00;

$color--green: #00CC99;
$color--green2: #46D7B6;
$color--blue1: #092C87;
$color--blue2: #1248D5;
$color--blue3: #1276D9;
$color--blue4: #26ABFF;
$color--blue5: #1B70B9;
$color--blue6: #0B3786;

$color--yellow: #F8E126;

$body: #EBEBEB;

/* breakpoints */
$contentCenter: 1200px;
$windowPC: 768px;
$windowSP: 767px;

$desktop-vw-viewport: 1927;
$mobile-vw-viewport: 375;

// wpAdminBar
$wpAdminBarPC: 32px;
$wpAdminBarSP: 46px;
